$theme-colors: (
        "info": rgb(255, 89, 71),
        "danger": teal
);


.input {
  width: 100%;
  height: 80%;
  flex-grow: 1;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  font-weight: 500;
  color: rgb(72, 72, 72);
  background-color: rgb(219, 219, 219);
  box-shadow: 0 0 .4vw rgba(0,0,0,0.5), 0 0 0 .15vw transparent;
  border-radius: 0.4vw;
  border: none;
  outline: none;
  padding: 5px 20px;
  transition: .4s;
} 

.input:hover {
  box-shadow: 0 0 0 .15vw rgba(135, 207, 235, 0.186);
}

.input:focus {
  box-shadow: 0 0 0 .15vw royalblue;
}

//  Atributos css para el boton de crear wishlist
 .create-btn {
  height: 80%;
  font-family: inherit;
  font-size: 20px;
  background: royalblue;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
 
  .span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }
  svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }
  &:hover {
    .svg-wrapper {
      animation: fly-1 0.6s ease-in-out infinite alternate;
    }
    svg {
      transform: translateX(1.2em) rotate(45deg) scale(1.1);
    }
    .span {
      transform: translateX(5em);
    }
  }
  &:active { 
    transform: scale(0.95);
  }
}


@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}
//------------------------------------------------------------------

@import "components/Wishinput";
  
/* import bootstrap to set changes */
@import "../node_modules/bootstrap/scss/bootstrap";